$bp-tablet : 768px;
$bp-desktop : 1024px;
$bp-desktop-large : 1200px;
$bp-desktop-extra-large : 1800px;

$red: #ec0027;
$black: #252525;
$gray: #f0f3f8;
$grayDark: #696969;
$white: #FFFFFF;
$darkBlue: #22252b;
$input : #3d414a;
